/* reset default style */

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

/* main portfolio container */

.portfolio-container-headline {
  background: #1c1a19 url("../images/background/headline-background/Group.svg") 100% 100% no-repeat;
  overflow: scroll;
}

/* Toolbar and logo section */

.flex-container {
  display: flex;
}

.mob-navigation {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-direction: column;
  padding: 20px;
  background-color: #3c3a39;
}

.desctop-only a {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-size: 15px;
  padding: 0 20px;
  font-weight: 600;
}

.headline-footer a {
  display: block;
  padding: 0 10px;
}

a:hover {
  cursor: pointer;
}

.mob-navigation ul a {
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.mob-navigation .closeBtn {
  text-align: right;
  text-decoration: none;
  color: #67798e;
  font-size: 22px;
}

.mob-navigation ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  align-items: start;
}

.mob-navigation ul li {
  padding: 20px 0;
  border-bottom: 1px solid #6f6c6b;
}

.menu-open {
  display: flex;
}

.main-navigation {
  background: #3c3a39;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.logo,
.nav-bar-icon {
  padding: 10px 10px;
}

.logo h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #ffff;
}

/* desctop version  */

.desctop-only {
  list-style: none;
  display: none;
  justify-content: center;
  align-items: center;
}

/* headline section */

.headline {
  height: 100vh;
  padding: 0 10px;
  align-items: center;
}

.headline > * {
  padding: 5px 10px;
}

.headline-content {
  max-width: 80%;
  padding-top: 50px;
}

.works-header h1 {
  text-align: center;
  font-weight: 400;
  font-family: 'Crete Round', serif;
  font-size: 40px;
  color: #1c1a19;
}

.about-section-header h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
  text-align: center;
}

.form-container h1 {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  color: #172b4d;
  text-align: center;
  line-height: 44px;
  font-weight: 700;
}

.headline hgroup h1 {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-weight: 500;
  font-size: 56px;
  line-height: 64px;
}

.headline hgroup h3 {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-weight: 700;
  margin: 10px 0;
}

.headline p {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.headline-footer {
  padding: 20px 0;
}

.headline-footer ul {
  list-style: none;
  justify-content: flex-start;
}

/* works section */

.portfolio-works-container {
  background: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(7, auto);
  grid-gap: 20px;
  padding: 150px 20px;
}

/* works section > header  */

.works-header {
  border-bottom: 1px solid #1c1a19;
}

.works-header .line {
  border: 1px solid black;
}

/* works section > multi-post-stories */

.multi-post-stories > * {
  display: block;
}

.multi-post-stories {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
  padding-top: 100px;
}

.multi-post-stories img {
  width: 100%;
  height: 100%;
}

.multi-post-stories h2 {
  color: #091e42;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding: 10px 0;
}

.multi-post-stories p {
  color: #091e42;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.prof-art ul {
  list-style: none;
  justify-content: flex-start;
  align-items: center;
}

.skills ul {
  list-style: none;
}

.form-footer ul {
  list-style: none;
  justify-content: center;
  padding: 20px 0;
  border-top: 1px solid grey;
}

.multi-post-stories .multi-post-navigation ul {
  list-style: none;
  justify-content: flex-start;
  padding: 10px 0;
}

.multi-post-navigation ul li {
  padding-right: 20px;
}

.prof-art ul a {
  text-decoration: none;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 10px;
  border: none;
  background: #ffffff46;
}

.form-footer ul a {
  padding: 0 15px;
}

.popup-content .popup-list a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 5px;
  border: 1px solid black;
  background: #ffffff46;
}

.popup-content .popup-btn-group a {
  text-decoration: none;
  padding: 20px 20px;
  padding-right: 35px;
  border: 1px solid transparent;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-right: 10px;
} 

.multi-post-stories .multi-post-navigation ul a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #8993a4;
  color: #091e42;
  font-size: 15px;
  font-weight: 500;
}

.multi-post-stories .multi-post-btn {
  justify-self: start;
  padding: 10px 5px;
  border: 1px solid transparent;
  background: #fc5e02;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

/* multi-post-btn states */

.multi-post-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.multi-post-btn:focus {
  background: #e05304;
  color: #f4f1f0;
  border: 1px solid transparent;
}

.multi-post-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* work section > prof-art */

.prof-art > * {
  display: block;
}

.prof-art {
  background: url("../images/background/works-background/Placeholder-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 3fr 2fr 1fr;
  grid-gap: 10px;
  align-items: end;
  padding-top: 300px;
}

.prof-art h2 {
  padding: 0 20px;
  color: #fff;
  font-family: 'Crete Round', serif;
  font-weight: 400;
  font-size: 32px;
}

.prof-art p {
  padding: 0 20px;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.prof-art .prof-art-navigation {
  padding: 0 20px;
  align-self: center;
}

.prof-art ul li {
  padding-right: 10px;
}

.prof-art .prof-art-btn {
  align-self: stretch;
  padding: 10px 5px;
  background: #ee6401;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  border: 1px solid transparent;
}

/* prof-art-btn states */

.prof-art-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.prof-art-btn:focus {
  background: #e05304;
  color: #f4f1f0;
  border: 1px solid transparent;
}

.prof-art-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* About me section */

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  background: #1c1a19;
}

/* about section > about header */

.about-section-header > * {
  display: block;
}

.about .about-section-header {
  padding: 0 20px;
  background: url("../images/background/About-background/Group.svg") 100% 93% no-repeat;
}

.about-section-header .about-header-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 150px 20px;
  align-items: end;
  grid-gap: 20px;
  border-bottom: 1px solid #fff;
}

.about-section-header p {
  font-family: 'Roboto', sans-serif;
  color: #ffff;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

.about-section-header .about-section-btn {
  justify-self: start;
  align-self: start;
  padding: 10px 5px;
  border: none;
  background: #e96201;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
}

/* about-section-btn states */

.about-section-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.about-section-btn:focus {
  background: #e05304;
  color: #f4f1f0;
  border: 1px solid transparent;
}

.about-section-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* Section about > section skills */

.skills {
  padding: 150px 0;
  text-align: center;
}

.skills .skill {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #fff;
  padding: 20px 0;
  justify-content: center;
}

.popup-content img {
  width: 100%;
  height: 100%;
  grid-area: image;
}

.skills .skill img {
  margin-right: 10px;
}

.skills .inside-list li {
  font-family: 'Inter', sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  line-height: 42.57px;
}

/* Form section */

.form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
}

.form-container {
  padding: 100px 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
}

.form-container form {
  flex-direction: column;
}

.form-container form input {
  margin: 10px 0;
  padding: 8px;
  border: none;
  color: #636160;
  font-size: 15px;
  border-bottom: 1px solid #dbd8d7;
}

.form-container form input:focus {
  border-bottom: 1px solid #ff6b00;
  outline: none;
}

.form-container textarea {
  height: 114px;
  background-color: #fbf8f7;
  margin: 20px 0;
  padding: 4px;
  border: none;
}

.submit-btn {
  justify-self: start;
  align-self: center;
  padding: 12px 10px;
  border: 1px solid transparent;
  background: #e96100;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

/* submit btn states */

.submit-btn:hover {
  background: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  cursor: pointer;
}

.submit-btn:focus {
  background: #e05304;
  color: #f4f1f0;
  border: 1px solid transparent;
}

.submit-btn:disabled {
  background: #f4f1f0;
  color: #5b5957;
}

/* pop up window */

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup-container .popup-content {
  width: 80%;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header"
    "links"
    "image"
    "content"
    "btns";
  background: white;
  padding: 20px 10px;
  overflow-y: scroll;
}

.popup-content header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  grid-area: header;
}

.popup-content header h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  color: #172b4d;
  line-height: 44px;
  font-weight: 700;
}

.popup-content header button {
  border: none;
  background: transparent;
  color: rgb(104, 104, 104);
  font-size: 30px;
}

.popup-content .popup-list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  justify-items: start;
  justify-content: start;
  padding: 20px 0;
  grid-area: links;
}

.popup-content p {
  font-family: 'Inter', sans-serif;
  color: #344563;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
  grid-area: content;
}

.popup-content .popup-btn-group {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  grid-area: btns;
}

.popup-btn-group .source {
  background: #e96100 url(../images/icons/popup-icons/GitHub.svg) 90% 50% no-repeat;
}

.popup-btn-group .live {
  background: #e96100 url(../images/icons/popup-icons/Export.svg) 90% 50% no-repeat;
}


/* DESCTOP VERSION STYLE */

/* header */

@media (min-width: 1000px) {
  .popup-container .popup-content {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "header header"
      "links links"
      "image content"
      "image btns";
    grid-gap: 10px;
  }

  .popup-content header {
    grid-column: 1 / -1;
    padding-bottom: 0;
  }

  .popup-content img {
    grid-row: 3 / 4;
    grid-column: 1;
    justify-self: start;
  }

  .popup-content .popup-list {
    grid-column: 1 / -1;
    grid-row: 2;
  }

  .popup-content p {
    grid-row: 3;
    grid-column: 2;
  }

  .popup-content .popup-btn-group {
    grid-row: 4;
    grid-column: 2;
    justify-content: flex-start;
  }

  .popup-content .popup-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .menu-open {
    display: none;
  }

  .desctop-only {
    display: flex;
  }

  .mob-only {
    display: none;
  }

  .main-navigation {
    padding: 10px 20px;
  }

  .portfolio-container-headline {
    background: #1c1a19 url("../images/background/DT-background/DT-headline-bg.svg") 100% 100% no-repeat;
    background-size: 500px;
    padding-right: 600px;
  }

  .headline-heder {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: "navigation content" "navigation content";
  }

  .headline-heder .headline-footer {
    grid-area: navigation;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .headline-footer ul {
    flex-direction: column;
    padding-right: 50px;
    align-items: center;
    justify-content: center;
  }

  .headline-footer ul a {
    padding: 5px 0;
  }

  .portfolio-works-container {
    padding: 150px 80px;
  }

  .works-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 10px;
    border: none;
  }

  .multi-post-stories {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "image details" "image details" "image details" "image details";
    grid-gap: 20px;
    align-items: start;
    align-content: start;
  }

  .multi-post-stories img {
    grid-area: image;
  }

  .prof-art-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .witout-btn button {
    display: none;
  }

  .main-prof-art {
    background: url("../images/background/works-background/desctop-prof-art-bg.png") no-repeat;
    background-size: cover;
  }

  .main-prof-art > * {
    display: none;
  }

  .main-prof-art button {
    display: block;
    grid-row: 4;
  }

  .prof-dashboard {
    background: url("../images/background/works-background/desktop-prof-art-bg2.png") no-repeat;
    background-size: cover;
  }

  .prof-portfolio {
    background: url("../images/background/works-background/desktop-prof-art-bg3.png") no-repeat;
    background-size: cover;
  }

  .about .about-section-header {
    padding: 0 0 0 80px;
    background: url("../images/background/DT-background/DT-aboutme-bg.svg") 100% 50% no-repeat;
  }

  .about-section-header .about-header-content {
    padding: 150px 700px 150px 0;
  }

  .skills {
    padding: 150px 80px;
  }

  .skills ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .skills .skill {
    justify-content: flex-start;
  }

  .skills .inside-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .form-container {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    padding: 100px 80px;
    grid-gap: 50px;
  }

  .form-container h1 {
    justify-self: start;
    text-align: start;
  }

  .form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    grid-gap: 20px;
  }

  .form-container form textarea {
    grid-column: 1 / -1;
    margin: 2px 0;
  }

  .form-container form input[type="email"] {
    grid-column: 1 / -1;
  }
}
